.jspec-view-editor--component * {
  font-size:11px;
  font-family:unset;
}

.jspec-view-editor--container * {
  margin-left: 5px;
  margin-top: 5px;
}

.jspec-view-designer--button {
  background-color: #555;
  text-align: center;
  display: inline-block;
  color:#EEE;
  outline:none;
  border: solid 1px #555;
  cursor:pointer;
  box-sizing: border-box;
}

.jspec-view-designer--button:disabled {
  background-color: #CCC;
  border: solid 1px #CCC;
  cursor: default;
}

.jspec-view-designer--component-base {
  box-sizing: border-box;
}

.jspec-view-designer--component-base * {
  box-sizing: border-box;
}

