.input-text__item {
  position: relative;
  /*display: inline-block;*/
  display: inline;
}

.input-text__dummy {
  display: inline-block;
  overflow: hidden;
  min-width: 1em;
  white-space: nowrap;
  opacity: 0;
  line-height:1px;
}

.input-text__dummy::before {
  content: '';
}

.input-text__dummy:empty::before {
  content: attr(data-placeholder);
  color: blue;
  box-sizing: border-box;
  border:none;
  outline:none;
}

.input-text {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border:none;
  outline:none;
}

.input-text:focus {
  outline:solid 1px #CCC;
}

